.contact {
  margin: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact p {
  font-size: 16px;
  margin-bottom: 10px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.contact .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.contact input,
.contact textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
}

.contact input.error,
.contact textarea.error {
  border-color: red;
}

.contact input.error:focus,
.contact textarea.error:focus {
  border-color: red;
  outline: none;
}

.contact .error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
}

.contact button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 100%;
  cursor: pointer;
}

.contact button:hover {
  background-color: #0056b3;
}

/* Responsiveness */
@media (min-width: 768px) {
  .contact {
    max-width: 500px;
    margin: 80px auto;
  }
}

@media (min-width: 992px) {
  .contact {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .contact {
    max-width: 1000px;
  }
}