.footer {
  background-color: #333333;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-copyright {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ffffff;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }

  .footer-content {
    align-items: center;
  }

  .footer-icons {
    margin-top: 10px;
  }
}