.slider {
  position: sticky;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  width: 100vw;
  height: auto;
  object-fit: contain;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 40px;
  line-height: 1.5;
  max-width: 80%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

.right-arrow,
.left-arrow {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  color: #b4b4b4;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}

.right-arrow {
  right: 12px;
}

.left-arrow {
  left: 12px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.slide.active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #b4b4b4;
  cursor: pointer;
}

.dot.active {
  background-color: #ffffff;
}

@media (max-width: 1490px) {
  .slider {
    height: 70vh;
  }

  .right-arrow,
  .left-arrow {
    font-size: 2.5rem;
  }

  .text {
    font-size: 36px;
  }
}

@media (max-width: 1000px) {
  .slider {
    height: 50vh;
    margin-bottom: -40px;
  }

  .right-arrow,
  .left-arrow {
    display: block;
    font-size: 2rem;
  }

  .dots {
    display: none;
  }

  .text {
    font-size: 24px;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .slider {
    height: 30vh;
    flex-direction: column;
    margin-bottom: -40px;
  }

  .right-arrow,
  .left-arrow {
    display: block;
  }

  .right-arrow {
    font-size: 2rem;
  }

  .left-arrow {
    font-size: 2rem;
  }

  .dots {
    display: none;
  }

  .text {
    font-size: 12px;
  }
}