nav {
  background-color: #f5f5f5;
  height: 60px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  z-index: 100;
}

nav img {
  width: 120px;
  height: 50px;
  padding: 10px;
}

nav .logo {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
}

nav .hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

nav .hamburger-icon {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  position: relative;
  transition: background-color 0.3s ease;
}

nav .hamburger-icon:before,
nav .hamburger-icon:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s ease;
}

nav .hamburger-icon:before {
  top: -6px;
}

nav .hamburger-icon:after {
  top: 6px;
}

nav .hamburger.open .hamburger-icon {
  background-color: transparent;
}

nav .hamburger.open .hamburger-icon:before {
  transform: translateY(6px) rotate(45deg);
}

nav .hamburger.open .hamburger-icon:after {
  transform: translateY(-6px) rotate(-45deg);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  padding: 10px;
  position: relative;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  padding: 10px 20px;
}

nav ul li:hover {
  background-color: #bebebe;
}

nav ul li ul.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  min-width: 200px;
}

nav ul li:hover > ul.submenu {
  display: block;
}

nav ul li ul.submenu li {
  padding: 10px 20px;
}

nav ul li ul.submenu li:hover {
  background-color: #bebebe;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }

  nav img {
    padding: 5px;
    margin-right: auto;
  }

  nav .hamburger {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }

  nav ul.open {
    display: flex;
  }

  .navbar-menu li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }

  .navbar-menu li a {
    padding: 10px 20px;
    font-size: 14px;
  }
}
