.values {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 40px 100px;
}

h1 {
  text-align: center;
  margin-top: 60px;
}

.card {
  flex-basis: 300px;
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  color: #666666;
  filter: invert(1);
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #666666;
}

/* Responsiveness */
@media (max-width: 768px) {
  .values {
    flex-direction: column;
    align-items: flex-start;
  }

  .card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .values {
    justify-content: flex-start;
  }
}
